/* 
    the part of the header
    */
:root {
  --lightBlue: #c4e8f7;
  --lighteWhite: #f2f2f2;
  --textColor: black;
  --darkBlue: #f2f2f2;
  --logo-sz: 60px;
  --arrow-sz: 75px;
}

body {
  overflow-x: hidden;
  background-color: var(--lighteWhite);
}
* {
  color: var(--textColor);
  margin: 0;
  padding: 0;
}

.navbar {
  overflow: hidden;
  /* background-color: var(--lightBlue); */
 
  background: rgb(156,249,255);
background: linear-gradient(90deg, rgba(156,249,255,1) 9%, rgba(9,9,121,1) 100%, rgba(2,0,36,1) 100%);
-webkit-box-shadow: 0px 4px 19px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 4px 19px 0px rgba(0,0,0,0.75);
box-shadow: 0px 4px 19px 0px rgba(0,0,0,0.75);
height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.logo-container {
  align-self: flex-start;
}
.nav-item {
}
.logo-img {
  width: var(--logo-sz);
  height: var(--logo-sz);
}
.logo-text {
  font-size: 3rem;
}
.sim-div {
  min-height: 400px;
}

.control-content,
.thinking-content {
  /* background-color: red; */
  min-height: 400px;
  
}
.control-content {
  border-right: 1px solid black;
}

@media only screen and (max-width: 768px) {
  .control-content {
    border-right: 0px;

    border-bottom: 1px solid black;
  }
}

.thinking-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.head-content {
  position: relative;
  width: 400px;
  height: 400px;
}
.head-img {
  width: 100%;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.section-title{
  font-size: 2em;
  color: #0f74cb;
  text-shadow: 1px 1px #084d89;

}
.prediction-content{
  /* border-top: 1px solid black; */
  -webkit-box-shadow: 0px -6px 9px -4px rgba(163,161,163,1);
  -moz-box-shadow: 0px -6px 9px -4px rgba(163,161,163,1);
  box-shadow: 0px -6px 9px -4px rgba(163,161,163,1);
  /* background: rgb(156,249,255);
  background: radial-gradient(circle, rgba(156,249,255,1) 7%, rgba(22,152,243,1) 98%); */
}
/* ul.navbar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color:#c4e8f7;
        height: 72px;
      }
      .logo{

      }
      li {
        float: left;
      }
      li .logo{
        display: block;
        color:  #fff6bd;

        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      } */
/* li a {
        display: block;
        color:  #fff6bd;

        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      li a:hover {
        background-color: #fff6bd;

        text-decoration: none;
      } */
/* arrow part */
/* :root {
        --arrow_distance: 100px;
        --white: #ffffff;
    }
        
      .arrow {
        position: absolute;
      }

      .arrow > img {
        width: 100px;
        height: 100px;
        display: inline-block;
      }
      .greenCard{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: #0071B0 ;
        position: relative;
        min-height: 500px;
      }
      .control {
     
      }
      .arrow {
        cursor: pointer;
        background-color: #f3e37a;
        width: 100px;
        height: 100px;
        top: 0;
        bottom: 0;
        top: 50%;
        left: 50%;
        border-radius: 10px;
      }
      .right-arrow {
        transform: translate(-50%, -50%) translate(105px, 0) translate(0,-45px);
      }

      .left-arrow {
        transform: translate(-50%, -50%) translate(-105px, 0) translate(0,-45px);
      }
      .up-arrow {
        transform: translate(-50%, -50%) translate(0, -105px) translate(0,-45px);
      }

      .down-arrow {
        transform: translate(-50%, -50%) translate(0, 105px) translate(0,-45px);
      }

      .arrow:hover {
        background-color: #f5dc34;
      }
      .arrow:active {
        background-color: #d6c033;
      }
      .space {
        cursor: pointer;
        background-color: #f3e37a;
        width: 250px;
        height: 100px;
        position: absolute;
        text-align: center;
        top: 0;
        bottom: 0;
        top: 50%;
        left: 50%;
        border-radius: 10px;
        transform: translate(-50%, -50%) translate(0, 230px) translate(0,-45px);
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        font-size: large;
      }

      .space:hover {
        background-color: #f5dc34;
      }
      .space:active {
        background-color: #d6c033;
      }
      .timeContainer {
        color:  #bda717;

        background-color: #0071B0 ;
        padding: 10px;
        margin-top: 10px;
      }
      .timeNow{
        color:  #fff6bd;
          
      } */
