.sim-btn {
    /* position: absolute; */
    /* right: 32px; */
    /* top: 33px; */
    /* min-width: 153px;
    height: 35px;
    align-self: flex-end;*/
    margin-right: 10px;
    height: 3.3em;
  }
  .simulation-header {
    box-shadow: 0 2px 3px 0px #0c3838;
    -webkit-box-shadow: 0 2px 3px 0px #0c3838;
    -moz-box-shadow: 0 2px 3px 0px #0c3838;
    /* border-bottom: 2px solid #0c3838; */
    background-color: #195b5b;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    min-height: 100px;
  }
  .simulation-body {
    /* background-color: rgb(85, 138, 252); */
    /* min-height: 250px; */
    flex: auto;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sim-arrow {
    /* position: absolute; */
    cursor: pointer;
    background-color: #f3e37a;
    width: 100px;
    height: 100px;
    top: 0;
    bottom: 0;
    top: 50%;
    left: 50%;
    border-radius: 50px;
  }
  .move-right {
    animation: slide_right 0.5s linear infinite alternate;
  }
  .move-left {
    animation: slide_left 0.5s linear infinite alternate;
  }
  .no-move {
    animation-play-state: paused;

    /* animation: slide .1s linear infinite alternate; */
  }
  @keyframes slide_right {
    0% {
      transform: rotate(90deg);
    }

    100% {
      /* background-color: red; */
      transform: translate(100px, 0) rotate(90deg);
    }
  }

  .move-left {
    animation: slide_left 0.5s linear infinite alternate;
  }

  @keyframes slide_left {
    0% {
      transform: rotate(-90deg);
    }

    100% {
      /* background-color: red; */
      transform: translate(-100px, 0) rotate(-90deg);
    }
  }

  .move-down {
    animation: slide_down 0.5s linear infinite alternate;
  }

  @keyframes slide_down {
    0% {
      transform: rotate(180deg);
    }

    100% {
      transform: translate(0, 100px) rotate(180deg);
    }
  }

  .move-up {
    animation: slide_up 0.5s linear infinite alternate;
  }

  @keyframes slide_up {
    0% {
      transform: rotate(0);
    }

    100% {
      transform: translate(0, -100px) rotate(0);
    }
  }