<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/fontawesome.min.css')}}"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
    type="text/javascript"
    src="{{ url_for('static', filename='js/setup.js') }}"
  ></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/index.js') }}"
    ></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css')}}"
    />

    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/socket.io.min.js') }}"
    ></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/simulationtab.css')}}"
    />

    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/socket.js') }}"
    ></script>
  </head>
  <body>
    <ul>
      <li>
        <div class="active logo">Psionica</div>
      </li>
      <li><a href="#manualTab">Manual</a></li>
      <li><a href="#simulationTab">Simulation</a></li>
    </ul>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="timeContainer">
            time now is <span class="timeNow">12:30</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="timeContainer">
            predicted vs true action <span class="predVsTrue">-----</span>
          </div>
        </div>
      </div>
      <div class="row manualTab">
        <div class="col-md-12">
          <div tabindex="0" class="greenCard control">
            <!-- http://197.46.252.72:12345 -->
            <!-- ${PHONE_IP} -->
            <div
              onclick="send_command(`F`)"
              class="arrow up-arrow"
            >
              <img
                src="{{ url_for('static', filename='img/up-arrow.png') }}"
                alt=""
              />
            </div>
            <div
              onclick="send_command(`L`)"
              class="arrow left-arrow"
            >
              <img
                src="{{ url_for('static', filename='img/left-arrow.png') }}"
                alt=""
              />
            </div>
            <div
              onclick="send_command(`R`)"
              class="arrow right-arrow"
            >
              <img
                src="{{ url_for('static', filename='img/right-arrow.png') }}"
                alt=""
              />
            </div>
            <div
              onclick="send_command(`B`)"
              class="arrow down-arrow"
            >
              <img
                src="{{ url_for('static', filename='img/down-arrow.png') }}"
                alt=""
              />
            </div>
            <!-- <div onclick="send_command(`S`)" class="space">
              stop
            </div> -->
          </div>
        </div>
      </div>
      <div style="display: none" class="row simulationTab">
        <div class="col-md-12">
          <div class="greenCard">
            <div class="simulation-header">
              <button
                id="sim-btn"
                onclick="toggle_simulation()"
                type="button"
                class="btn btn-info sim-btn"
              >
                start simulation
              </button>
            </div>
            <div class="simulation-body">
              <div id="sim-arrow" onclick="" class="sim-arrow move-R">
                <img
                  src="{{ url_for('static', filename='img/up-arrow.png') }}"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>
