<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/fontawesome.min.css')}}"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <!-- jquery should come first because others use it -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/socket.io.min.js') }}"
    ></script>

    <!-- your user defined scripts -->
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/setup.js') }}"
    ></script>

    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/simulation.js') }}"
    ></script>

    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/socket.js') }}"
    ></script>

    <!--user defined css files  -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/simulation.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/navbar.css')}}"
    />
  </head>
  <body>
    <div class="navbar">
      <div class="logo-container">
        <img
          class="logo-img"
          src="{{ url_for('static', filename='img/logo.svg') }}"
          alt=""
          srcset=""
        />
      </div>
      <div style="display: flex">
        <div>koko</div>
      </div>
    </div>
    <div class="container-fluid sim-div">
      <div class="row">
        <div class="control-content control col-sm-12 col-md-6">
          <div class="px-2 py-3 text-center section-title">
            choose the command you want to think of
          </div>
          <div
            class="simulation-body"
            style="width: 400px; height: 400px; margin: 0 auto"
          >
            <div onclick="send_command(`F`)" class="sim-arrow arrow up-arrow">
              <img
                class="center"
                width="75px"
                height="75px"
                src="{{ url_for('static', filename='img/up-arrow.png') }}"
              />
            </div>
            <div onclick="send_command(`L`)" class="sim-arrow arrow left-arrow">
              <img
                class="center"
                width="75px"
                height="75px"
                src="{{ url_for('static', filename='img/left-arrow.png') }}"
              />
            </div>
            <div
              onclick="send_command(`R`)"
              class="sim-arrow arrow right-arrow"
            >
              <img
                class="center"
                width="75px"
                height="75px"
                src="{{ url_for('static', filename='img/right-arrow.png') }}"
              />
            </div>
            <div onclick="send_command(`B`)" class="sim-arrow arrow down-arrow">
              <img
                class="center"
                width="75px"
                height="75px"
                src="{{ url_for('static', filename='img/down-arrow.png') }}"
              />
            </div>
          </div>

          <!---->
        </div>
        <div class="thinking-content col-sm-12 col-md-6">
          <p class="section-title">user is thinking of</p>
          <div class="head-content">
            <img
              class="head-img"
              src="{{ url_for('static', filename='img/head.png') }}"
              alt=""
              srcset=""
            />
            <img
              id="leg-imagine"
              class="imagination-img shake-leg-img"
              src="{{ url_for('static', filename='img/leg.png') }}"
              alt=""
              srcset=""
            />
            <img
              id="left-hand-imagine"
              class="imagination-img shake-left-img"
              src="{{ url_for('static', filename='img/left-hand.png') }}"
              alt=""
              srcset=""
            />
            <img
              id="right-hand-imagine"
              class="imagination-img shake-right-img"
              src="{{ url_for('static', filename='img/right-hand.png') }}"
              alt=""
              srcset=""
            />
            <img
              id="tongue-imagine"
              class="imagination-img shake-side-img"
              src="{{ url_for('static', filename='img/tongue.png') }}"
              alt=""
              srcset=""
            />
            <img
              style="display: inline"
              id="idle-imagine"
              class="imagination-img shake-side-img"
              src="{{ url_for('static', filename='img/none.png') }}"
              alt=""
              srcset=""
            />
          </div>
        </div>
      </div>
    </div>
    <div class="prediction-content py-3 row">
      <div class="col-md-6">
        <div class="text-center section-title col-md-12">
          the predicted class of imagination
        </div>
        <div class="col-md-12">
          <div class="head-prediction">
            <img
              class="pred-leg-imagine pred-imagination-img shake-leg-img1"
              src="{{ url_for('static', filename='img/leg.png') }}"
              width="120px"
              height="120px"
            />
            <img
              class="pred-left-hand-imagine pred-imagination-img shake-left-img1"
              src="{{ url_for('static', filename='img/left-hand.png') }}"
              width="120px"
              height="120px"
            />
            <img
              class="pred-right-hand-imagine pred-imagination-img shake-right-img1"
              src="{{ url_for('static', filename='img/right-hand.png') }}"
              width="120px"
              height="120px"
            />
            <img
              class="pred-tongue-imagine pred-imagination-img shake-side-img1"
              src="{{ url_for('static', filename='img/tongue.png') }}"
              width="120px"
              height="120px"
            />
            <img
              style="display: inline"
              class="pred-idle-imagine pred-imagination-img shake-side-img1"
              src="{{ url_for('static', filename='img/sleeping.png') }}"
              width="120px"
              height="120px"
            />
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="text-center section-title col-md-12">
          movement direction based on prediction
        </div>
        <div class="head-prediction">
          <img
            class="pred-leg-imagine pred-imagination-img shake-leg-img1"
            src="{{ url_for('static', filename='img/down-arrow.png') }}"
            width="120px"
            height="120px"
          />
          <img
            class="pred-left-hand-imagine pred-imagination-img shake-left-img1"
            src="{{ url_for('static', filename='img/left-arrow.png') }}"
            width="120px"
            height="120px"
          />
          <img
            class="pred-right-hand-imagine pred-imagination-img shake-right-img1"
            src="{{ url_for('static', filename='img/right-arrow.png') }}"
            width="120px"
            height="120px"
          />
          <img
            class="pred-tongue-imagine pred-imagination-img shake-side-img1"
            src="{{ url_for('static', filename='img/up-arrow.png') }}"
            width="120px"
            height="120px"
          />
        </div>
      </div>
    </div>
    <!-- <div class="container-fluid bg-light " id="featured-3">
      <h2 class="pb-2 border-bottom">How to use the simulator</h2>
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

        <div class="feature col">
          <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient text-white fs-2 mb-3">
            
            <img width="75px" height="75px" src="{{ url_for('static', filename='img/left-arrow.png') }}" >
          </div>
          <h2>Left Arrow</h2>
          <p>user wants to move to the left</p>
          
        </div>
        
        <div class="feature col">
          <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient text-white fs-2 mb-3">
            
            <img width="75px" height="75px" src="{{ url_for('static', filename='img/right-arrow.png') }}" >
          </div>
          <h2>right Arrow</h2>
          <p>user wants to move to the right</p>
          
        </div>
        
        <div class="feature col">
          <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient text-white fs-2 mb-3">
            
            <img width="75px" height="75px" src="{{ url_for('static', filename='img/up-arrow.png') }}" >
          </div>
          <h2>up Arrow</h2>
          <p>user wants to move forward</p>
          
        </div>
        
        <div class="feature col">
          <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient text-white fs-2 mb-3">
            
            <img width="75px" height="75px" src="{{ url_for('static', filename='img/down-arrow.png') }}" >
          </div>
          <h2>down Arrow</h2>
          <p>user wants to move to backward</p>
          
        </div>

      </div>
    </div>   -->

    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>
